.board {
  position: relative;
  width: calc(var(--pixel-size) * 8 * 4 + var(--pixel-size) * 5);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  background: var(--secondary-background);
  border: calc(var(--pixel-size) * 0.5) solid var(--secondary-background);
  border-radius: calc(var(--pixel-size) * 0.75);
}

.cell {
  width: calc(var(--pixel-size) * 8);
  height: calc(var(--pixel-size) * 8);
  margin: calc(var(--pixel-size) * 0.5);
  border-radius: calc(var(--pixel-size) * 0.5);
  background: var(--cell-background);
}

.tiles {
  position: absolute;
  z-index: 2;
  margin: calc(var(--pixel-size) * 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 512px) {
  .board {
    width: calc(var(--pixel-size) * 12.5 * 4 + var(--pixel-size) * 10);
  }

  .grid {
    border: calc(var(--pixel-size) * 1) solid var(--secondary-background);
  }

  .cell {
    width: calc(var(--pixel-size) * 12.5);
    height: calc(var(--pixel-size) * 12.5);
    margin: calc(var(--pixel-size) * 1);
  }

  .tiles {
    margin: calc(var(--pixel-size) * 1);
  }
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(238, 228, 218, 0.73);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.gameOver {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.gameOver h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

.gameOver p {
  font-size: 24px;
  margin-bottom: 20px;
}

.gameOver button {
  background: #8f7a66;
  border-radius: 3px;
  padding: 10px 20px;
  color: #f9f6f2;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

.gameOver button:hover {
  background: #9f8b77;
}